ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202040;
}
input[type="text"] {
  font-size: 5vh;
};
#homeButton {
    align-self: flex-start;
}
li {
  float: right;
}

li a {
  display: block;
  color: #BEBAFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
li a:hover {
  background-color: #46468C;
}